<b>🚀 {{ROM_NAME}} for {{DEVICE}}</b>

<b>Build:</b> {{BUILD_DATE}} 
<b>Version:</b> {{VERSION}} 
<b>File:</b> <code>{{FILENAME}}</code> 
<b>Size:</b> {{SIZE}}

✨ <b>New build available!</b>

<b>📥 Downloads</b>
ROMs, downloads, changelogs and installation guides:

<a href="{{WEBSITE_URL}}">{{WEBSITE_TEXT}}</a>

<b>🔄 Update</b>
Use the built-in over-the-air update program (if you already have it installed) or follow the installation instructions.

<b>🔐 Checksums</b>
MD5: 
<code>{{MD5}}</code>
SHA256: 
<code>{{SHA256}}</code>

<b>🐛 Known Issues</b>
{{KNOWN_ISSUES}}

<b>💙 Support</b>

₿ Bitcoin:
<code>bc1pngx5j2sf6mhkpl8579jc5t6zn80rstrvkygu5ljclfg3jntlpkes08jqms</code>

Ξ Ethereum:
<code>0x025d0C1b9A980f8D0aE9E5071eC604568C70A957</code>

Thank you for your support! 🙏

━━━━━━━━━━━━━━
🦊 SkyX-Arch Project
